body {
  /* width: 90%; */
  /* margin:0 auto; */
  min-width: 420px;
  padding: 1% 5%;
  /* font-family: Helvetica, "Source Han Serif SC"; */
  /* font-size: 8px */
}
.ui.modal {
  padding: 30px;
}
.ui.item.menu > a.item.active {
  color: teal;
}
.ui.header.dividing > a {
  color: teal;
}
#logo {
  background-color: #6bae7f;
  border-radius: 5px;
  text-align: center;
}
#logo img {
  width:200px;
  /* float:left; */
  padding: 5px;
  /* margin: 10px 15px 10px 10px; */
}
#demo {
  min-width: 270px;
  text-align: center;
  margin: 50px 0 50px 0;
}
/* #status-tab button { */
  /* margin-bottom: 20px; */
/* } */
.ui.attached.segment {
  border: none !important
}

#demonstration {
  padding: 30px 0;
  font-size: 10px;
}
#demonstration .laptop,
#demonstration .cube
{
  margin-right: 26px;
}

#demonstration .wifi,
#demonstration .cube
{
  margin-left: 26px;
}

#status-tab {
  /* text-align: center; */
}

#proxy-tab div.field {
  margin-bottom: 0.2em;
}
#proxy-tab .button {
  margin-top: 1em;
}
.ui.form .fields > .eight.wide.field {
  width: 50% !important;
}
.ui.form .fields > .four.wide.field {
  width: 25% !important;
}

/* #moreModal div.actions div.button { */
  /* width: 180px; */
/* } */
#errorModal div.content {
  text-align: center;
}
#aboutModal div.content {
  text-align: center;
}
