<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>VRouter</title>
  <link rel="stylesheet" href="../node_modules/semantic-ui/dist/semantic.css">
  <link rel="stylesheet" href="../style/custom.css">
</head>
<body>
  <div class="ui four item top attached tabular menu">
    <a class="item active" data-tab="status">
      <i class="dashboard icon"></i>
      状态
    </a>
    <a class="item" data-tab="proxy">
      <i class="send icon"></i>
      代理
    </a>
    <a class="item" data-tab="rules">
      <i class="filter icon"></i>
      规则
    </a>
    <a class="item" data-tab="system">
      <i class="linux icon"></i>
      系统
    </a>
  </div>

  <div id="app">
    <div v-bind:class="['ui inverted dimmer', ui.activeLoader && 'active']">
      <div v-bind:class="['ui loader', ui.activeLoader && 'active']"></div>
    </div>
    <div id="status-tab" class="ui bottom attached tab segment active" data-tab="status">
      <div id="logo">
        <img src="../img/vrouter.png" alt="">
      </div>
      <div id="demo" class="ui message">
        <div id="demonstration">
          <i class="ui huge laptop icon"></i>
          <i v-bind:class="circleIcon"></i>
          <i v-bind:class="circleIcon"></i>
          <i v-bind:class="circleIcon"></i>
          <i v-bind:class="circleIcon"></i>
          <i v-bind:class="['ui huge cube icon', status.currentGW === 'vrouter' && 'teal']"></i>
          <i v-bind:class="circleIcon"></i>
          <i v-bind:class="circleIcon"></i>
          <i v-bind:class="circleIcon"></i>
          <i v-bind:class="circleIcon"></i>
          <i class="ui huge wifi icon"></i>
        </div>
        <div class="ui label">
          代理: 
          <div class="detail">
            {{ ui.protocolTextDic[firewall.currentProtocol] }}
          </div>
        </div>
        <div class="ui label">
          模式: 
          <div class="detail">
            {{ ui.proxyModeTextDic[firewall.currentMode] }}
          </div>
        </div>
      </div>
      <div v-bind:class="['ui labeled icon button right floated', status.currentGW === 'vrouter' ? 'red' : 'teal']"
        v-bind:data-content="ui.btnToggleRouterPopup" v-on:click="btnToggleRouterHandler">
        <i v-bind:class="['icon', status.currentGW === 'vrouter' ? 'pause' : 'play']"></i>
        {{ status.currentGW === 'vrouter' ? '暂停' : '启用' }}
      </div>
      <div class="ui hidden" style="clear:both"></div>
    </div>

    <div id="proxy-tab" class="ui bottom attached tab segment" data-tab="proxy">
      <!-- <div v-bind:class="{ui:true, active:ui.activeLoader, inverted:true, dimmer:true}"> -->
        <!-- <div v-bind:class="{ui:true, active:ui.activeLoader, loader:true}"></div> -->
      <!-- </div> -->
        <!-- <div class="field"> -->
          <div>
          <label>代理</label>
          <div id="proxy-chains" v-bind:class="['ui selection dropdown', ui.ssDisabled && 'disabled']">
            <input type="hidden" name="proxy-chains">
            <i class="dropdown icon"></i>
            <div class="text" ref="protocolText" v-text="ui.protocolTextDic[firewall.currentProtocol]"></div>
            <div class="menu" ref="protocolDropdown">
              <div class="item" data-value="ss" v-on:click="protocolDropdownHandler">
                {{ ui.protocolTextDic.ss }}
              </div>
              <div class="item" data-value="ssr" v-on:click="protocolDropdownHandler">
                {{ ui.protocolTextDic.ssr }}
              </div>
              <div class="item" data-value="ss-kt" v-on:click="protocolDropdownHandler">
                {{ ui.protocolTextDic.ssKt }}
              </div>
              <div class="item" data-value="ssr-kt" v-on:click="protocolDropdownHandler">
                {{ ui.protocolTextDic.ssrKt }}
              </div>
            </div>
          </div>
        </div>
        <div class="ui divider hidden"></div>
      <form class="ui form">
        <div v-bind:class="formSSClass">
          <h4 class="ui header dividing teal"><a href="https://github.com/shadowsocks/shadowsocks-libev#usage">Shadowsocks<i class="small icon external square"></i></a></h4>
          <div class="field">
            <div class="three fields">
              <div class="eight wide field">
                <label for="server">Server</label>
                <input v-bind:value="shadowsocks.address" v-bind:disabled="ui.ssDisabled" ref="address">
              </div>
              <div class="four wide field">
                <label for="server-port">Server Port</label>
                <input v-bind:value="shadowsocks.port" v-bind:disabled="ui.ssDisabled" ref="port">
              </div>
              <div class="four wide field">
                <label for="fast-open">Fast Open</label>
                <input v-bind:disabled="ui.ssDisabled" v-bind:value="shadowsocks.fastOpen" ref="fastOpen">
              </div>
            </div>
          </div>
          <div class="field">
            <div class="three fields">
              <div class="eight wide icon field">
                <label for="password">Password</label>
                <div class="ui icon input">
                  <input v-bind:value="shadowsocks.password" v-bind:type="ui.hideSSPassword ? 'password' : 'text'" v-bind:disabled="ui.ssDisabled" ref="password">
                  <i id="password-icon" class="link icon" v-bind:class="['ui link icon', ui.hideSSPassword ? 'unhide' : 'hide']" v-on:click="toggleSSPassword"></i>
                </div>
              </div>
              <div class="four wide field">
                <label for="encrypt">Encrypt Method</label>
                <input v-bind:disabled="ui.ssDisabled" v-bind:value="shadowsocks.method" ref="method">
              </div>
              <div class="four wide field">
                <label for="timeout">Timeout</label>
                <input v-bind:disabled="ui.ssDisabled" v-bind:value="shadowsocks.timeout" ref="timeout">
              </div>
            </div>
          </div>
        </div>
        <div v-bind:class="['ui']">
          <h4 class="ui header dividing teal"><a href="https://github.com/xtaci/kcptun#usage">Kcptun<i class="small icon external square"></i></a></h4>
          <div class="field">
            <div class="three fields">
              <div class="eight wide field">
                <label for="server">Server</label>
                <input v-bind:value="kcptun.address" v-bind:disabled="ui.ktDisabled" ref="ktAddress">
              </div>
              <div class="four wide field">
                <label for="server-port">Server Port</label>
                <input v-bind:value="kcptun.port" v-bind:disabled="ui.ktDisabled" ref="ktPort">
              </div>
              <div class="four wide field">
                <label for="fast-open">Mode</label>
                <input v-bind:disabled="ui.ktDisabled" v-bind:value="kcptun.mode" ref="ktMode">
              </div>
            </div>
          </div>
          <div class="field">
            <div class="two fields">
              <div class="eight wide icon field">
                <label for="password">Key</label>
                <div class="ui icon input">
                  <input v-bind:value="kcptun.key" v-bind:type="ui.hideKtPassword ? 'password' : 'text'" v-bind:disabled="ui.ktDisabled" ref="ktKey">
                  <i v-bind:class="['ui link icon', ui.hideKtPassword ? 'unhide' : 'hide']" v-on:click="toggleKtPassword"></i>
                </div>
              </div>
              <div class="eight wide field">
                <label for="encrypt">Encrypt Method</label>
                <input v-bind:disabled="ui.ktDisabled" v-bind:value="kcptun.crypt" ref="ktCrypt">
              </div>
            </div>
          </div>
          <div class="field">
            <label>Others<i class="help circle link icon" data-content="kcptun的其他参数, 格式'key1=value1;key2=value2', 如sndwnd=256;rcvwnd=2048;nocomp=true"></i></label>
            <input v-bind:disabled="ui.ktDisabled" ref="ktOthers" v-bind:value="ktOthers">
          </div>
        </div>
        <div
          v-bind:class="['ui teal button labeled icon right floated', ui.ssDisabled || 'negative']"
          v-on:click="btnEditHandler">
          <i v-bind:class="['ui icon', ui.ssDisabled ? 'write' : 'remove']"></i>
          {{ ui.ssDisabled ? '编辑' : '取消' }}
        </div>
        <div class="ui teal button labeled icon right floated" v-on:click="saveHandler" v-if="!ui.ssDisabled">
          <i class="ui checkmark icon"></i>
          应用
        </div>
        <div class="ui hidden" style="clear: both"></div>
      </form>
    </div>

    <div class="ui bottom attached tab segment" data-tab="rules">
      <div>
        <label>模式</label>
        <div id="bypass-mode" v-bind:class="['ui selection dropdown', ui.modeDisabled && 'disabled']">
          <input type="hidden" name="bypass-mode">
          <i class="dropdown icon"></i>
          <div class="text" v-text="proxyModeText" ref="proxyModeText"></div>
          <div class="menu">
            <div class="item" data-value="global">{{ ui.proxyModeTextDic.global }}</div>
            <div class="item" data-value="whitelist">{{ ui.proxyModeTextDic.whitelist }}</div>
            <div class="item" data-value="blacklist">{{ ui.proxyModeTextDic.blacklist }}</div>
            <div class="item" data-value="none">{{ ui.proxyModeTextDic.none }}</div>
          </div>
        </div>
      </div>
      <h4 class="ui teal header dividing">黑名单</h4>
      <div class="ui list">
        <div class="item">
          <div class="ui checkbox">
            <input type="checkbox" name="gfw" v-bind:checked="firewall.selectedBL.gfwDomains" v-bind:disabled="ui.modeDisabled" ref="gfwDomains">
            <label>GFW-list <i v-if="false" class="ui refresh icon link" data-content="更新 gfwlist" v-on:click="updateGfwList"></i></label>
          </div>
        </div>
        <div class="item">
          <div class="ui checkbox">
            <input type="checkbox" name="extraBlackList" v-bind:disabled="ui.modeDisabled" v-bind:checked="firewall.selectedBL.extraBlackList" ref="extraBlackList">
            <label>自定义黑名单 <i class="ui link file text icon" v-on:click="openExtraBlackList"></i></label>
          </div>
        </div>
      </div>
      <h4 class="ui teal header dividing">白名单</h4>
      <div class="ui list">
        <div class="item">
          <div class="ui checkbox">
            <input type="checkbox" name="LanIP" checked disabled ref="lanNetworks">
            <label>局域网</label>
          </div>
        </div>
        <div class="item">
          <div class="ui checkbox">
            <input type="checkbox" name="chinaIPs" v-bind:checked="firewall.selectedWL.chinaIPs" v-bind:disabled="ui.modeDisabled" ref="chinaIPs">
            <label>
              国内 IP 
              <i class="ui refresh icon link" data-content="更新 IP 数据库" v-on:click="updateChinaIPs"></i>
            </label>
          </div>
        </div>
        <div class="item">
          <div class="ui checkbox">
            <input type="checkbox" name="extraWhiteList" v-bind:disabled="ui.modeDisabled" v-bind:checked="firewall.selectedWL.extraWhiteList" ref="extraWhiteList">
            <label>自定义白名单 <i class="ui link file text icon" v-on:click="openExtraWhiteList"></i></label>
          </div>
        </div>
      </div>
      <div v-bind:class="['ui button labeled icon right floated', ui.modeDisabled ? 'teal' : 'negative']" v-on:click="btnProxyModeHandler">
        <i v-bind:class="['ui icon', ui.modeDisabled ? 'write' : 'remove']"></i>
        {{ ui.modeDisabled ? '编辑' : '取消'}}
      </div>
      <div class="ui button teal labeled icon right floated" v-on:click="saveProxyModeHandler" v-if="!ui.modeDisabled">
        <i class="ui checkmark icon"></i>
        应用
      </div>
      <div class="ui hidden" style="clear: both"></div>
    </div>


    <div class="ui bottom attached tab segment" data-tab="system">
      <h4 class="ui header teal">系统信息</h4>
      <div class="ui list">
        <div class="item">
          <div class="ui label">
            网关: <span class="detail">{{ status.currentGWIP }}</span>
          </div>
        </div>
        <div class="item">
          <div class="ui label">
            DNS: <span id="dns" class="detail white">{{ status.currentDnsIP }}</span>
          </div>
        </div>
      </div>
      <h4 class="ui header teal">VRouter 信息</h4>
      <div class="ui list">
        <div class="item">
          <div class="ui label">
            openwrt 版本: 
            <a class="detail" data-content="进入虚拟机" data-position="right center" v-on:click="loginVRouterModal" ref="loginVRouterModal">
              {{ status.openwrtVersion }}
            <i class="ui sign in icon teal"></i>
            </a>
          </div>
        </div>
        <div class="item">
          <div class="ui label">
            BR-LAN 地址: <span class="detail"> {{ status.brLanIP }}</span>
          </div>
        </div>
        <div class="item">
          <div class="ui label">
            VRouter IP 地址: 
            <a class="detail" data-content="重启 VRouter 内部网络. 使用场景: 切换到其他 Wi-Fi 时重新获取 IP" data-position="right center" v-on:click="restartVrouterNetwork" ref="restartVrouterNetwork">
              {{ status.lanIP }}
              <i class="ui refresh icon teal"></i>
            </a>
          </div>
        </div>
        <div class="item">
          <div class="ui label">
            VRouter mac 地址: <span class="detail white">{{ status.macAddress }}</span>
          </div>
        </div>
        <div class="item">
          <div class="ui label">
            shadowsocks-libev 版本: <span class="detail white">{{ status.ssVersion }}</span>
          </div>
        </div>
        <div class="item">
          <div class="ui label">
            kcptun 版本: <span class="detail">{{ status.ktVersion }}</span>
          </div>
        </div>
      </div>
      <h4 class="ui header teal">VRouter 状态</h4>
      <div class="ui list">
        <div class="item">
          <div class="ui label">
            shadowsocks 进程: 
            <span class="detail">
              {{ status.isSsRunning ? '运行中' : '已停止'  }}
              <i v-bind:class="['ui circle icon', status.isSsRunning ? ['check', 'teal'] : 'remove']"></i>
            </span>
          </div>
        </div>
        <div class="item">
          <div class="ui label">
            kcptun 进程: 
            <span class="detail">
              {{ status.isKtRunning ? '运行中' : '已停止' }}
              <i v-bind:class="['ui circle icon', status.isKtRunning ? ['check', 'teal'] : 'remove']"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="ui dropdown button bottom right pointing right floated labeled icon teal">
        <i class="ellipsis horizontal icon"></i>
        更多
        <div class="menu">
          <div class="item" v-on:click="btnDeleteHandler">
            <i class="ui trash icon red"></i>
            删除
          </div>
          <div class="item" v-on:click="btnShutdownHandler">
            <i class="ui shutdown icon red"></i>
            关闭
          </div>
          <div class="item" v-on:click="btnResetGW">
            <i class="ui pause icon yellow"></i>
            暂停
          </div>
          <div class="item" v-on:click="btnConsole">
            <i class="ui terminal icon teal"></i>
            控制台
          </div>
          <div class="item" v-on:click="btnAbout">
            <i class="ui info icon teal"></i>
            关于
          </div>
        </div>
      </div>
      <div class="ui labeled icon teal button right floated" data-content="重新收集状态信息" data-position="top center" v-on:click="refreshInfos">
        <i class="inline ui refresh icon"></i>
        刷新
      </div>
      <div class="ui hidden" style="clear: both"></div>
    </div>

    <div class="ui basic modal" ref="loginModal">
      <div class="ui icon header">
        <i class="minus circle icon red"></i>
        登录到 VRouter 虚拟机
      </div>
      <div class="content">
        <p>VRouter 和后台的虚拟机紧密关联, 各项功能都依赖于正确设置了虚拟机. 修改虚拟机可能会造成 VRouter 无法正常工作.</p>
      </div>
      <div class="actions">
        <div class="ui red inverted button" v-on:click="guiLogin">
          <i class="remove icon"></i>
          GUI 登入
        </div>
        <div class="ui red cancel inverted button">
          <i class="remove icon"></i>
          SSH 登入
        </div>
        <div class="ui green ok inverted button">
          <i class="checkmark icon"></i>
          取消
        </div>
      </div>
    </div>

    <div id="errorModal" class="ui basic modal" ref="errorModal">
      <div class="ui icon header">
        <i class="remove circle icon red"></i>
        Error
      </div>
      <div class="content">
        <p>{{ errorMsg }}</p>
      </div>
      <div class="actions">
        <div class="ui green ok inverted button">
          <i class="remove icon"></i>
          取消
        </div>
      </div>
    </div>
    <div id="aboutModal" class="ui basic modal" ref="aboutModal">
      <div class="ui icon header">
        <i class="cube icon teal"></i>
        VRouter
      </div>
      <div class="content">
        <p>Version: {{ vrouterVersion }}</p>
        <p><i class="ui terminal icon teal"></i>Build by {{ author }}.</p>
        <div class="ui divider hidden"></div>
        <p><i class="ui heart icon red"></i> Base on virtualbox/openwrt/electron/semantic-ui/shadowsocks/kcptun.</p>
        <div class="ui divider hidden"></div>
        <p>Released under GPL license.</p>
      </div>
      <div class="actions">
        <div class="ui button ok teal reverted labeled icon" v-on:click="goToHomepage">
          <i class="ui world icon"></i>
          主页
        </div>
        <div class="ui button cancel teal labeled icon">
          <i class="ui checkmark icon"></i>
          确定</div>
      </div>
    </div>
  </div>
  <script>window.$ = window.jQuery = require("../node_modules/jquery/dist/jquery.min.js")</script>
  <script src="../node_modules/semantic-ui/dist/semantic.min.js"></script>
  <script src="../node_modules/vue/dist/vue.min.js" charset="utf-8"></script>
  <script src="../js/manage.js"></script>
  <script src="../js/external-link.js" charset="utf-8"></script>
</body>
</html>
